.unique-container .vertical-timeline-element-icon.bounce-in {
  width: 22px;
  height: 22px;
  left: 53%;
  top: 9%;

  p {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1170px) {
  .unique-container .vertical-timeline-element-icon.bounce-in {
    width: 22px;
    height: 22px;
    left: 1%;
    top: 9%;
  }
}
